persistence:
  enabled: true
  storageClass: nfs567
controller:
  additionalPlugins: []
  installPlugins: []
  image:
    repository: "jenkins/jenkins"
    tag: "2.511"
  ingress:
    enabled: true
    hostName: jenkins.tuana9a.com
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-production"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    hosts:
      - host: jenkins.tuana9a.com
    tls:
      - secretName: jenkins-tuana9a-com-tls
        hosts:
          - jenkins.tuana9a.com
  JCasC:
    authorizationStrategy: "" # disable here we already have it configured in 093-jenkins-JCasC
    securityRealm: "" # disable here we already have it configured in 093-jenkins-JCasC
  additionalExistingSecrets:
    - name: google-login # for used in 093-jenkins-JCasC google login
      keyName: client-id
    - name: google-login # for used in 093-jenkins-JCasC google login
      keyName: client-secret
  resources:
    requests:
      cpu: "100m"
      memory: "1024Mi"
    limits:
      cpu: "1000m"
      memory: "2048Mi"
