global:
  enabled: true
server:
  standalone:
    enabled: false
  ha:
    enabled: true
    raft:
      enabled: true
  dataStorage:
    enabled: true
    size: 5Gi
    storageClass: proxmox-data-xfs
  affinity: ""
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-production"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    hosts:
      - host: vault.tuana9a.com
    tls:
      - secretName: vault-tuana9a-com-tls
        hosts:
          - vault.tuana9a.com
