- name: Copy fail2ban jail.local
  become: true
  ansible.builtin.copy:
    src: fail2ban/jail.local
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: "0644"

- name: Ensure fail2ban service is enabled and restarted
  become: true
  ansible.builtin.systemd:
    name: fail2ban
    enabled: true
    state: restarted
