- name: 0. Temporary set /etc/resolv.conf
  become: true
  ansible.builtin.copy:
    dest: /etc/resolv.conf
    owner: root
    group: root
    mode: "0644"
    content: |
      # This file is managed by Ansible using the 'copy' module's 'content' parameter.
      # WARNING: If systemd-resolved is managing this file, this task will overwrite the symlink!
      nameserver 1.1.1.1
      nameserver 8.8.8.8
      search local

- name: 1. Install systemd-resolved package
  become: true
  ansible.builtin.package:
    name: systemd-resolved # Package name may vary slightly (e.g., systemd in some distros)
    state: present

- name: 2. Ensure resolvconf is absent (if present)
  become: true
  ansible.builtin.package:
    name: resolvconf
    state: absent
  ignore_errors: true # Resolvconf might not be installed, so ignore errors

- name: 4. Ensure /etc/resolv.conf is a symlink to /run/systemd/resolve/resolv.conf
  become: true
  ansible.builtin.file:
    src: /run/systemd/resolve/resolv.conf
    dest: /etc/resolv.conf
    owner: root
    group: root
    state: link
    force: true

- name: Restart systemd-resolved
  become: true
  ansible.builtin.systemd_service:
    name: systemd-resolved
    state: restarted
    enabled: true
