- name: Install temporary resolv.conf
  become: true
  copy:
    dest: /etc/resolv.conf
    content: |
      nameserver 1.1.1.1
      nameserver 8.8.8.8
      search local
    force: true

- name: Ensure systemd-resolved is installed
  become: true
  package:
    name: systemd-resolved
    state: present

- name: Ensure /etc/resolv.conf symlink points to systemd-resolved
  become: true
  file:
    path: /etc/resolv.conf
    src: /run/systemd/resolve/resolv.conf
    state: link
    force: true

- name: Configure systemd-resolved DNS
  become: true
  block:
    - name: Create resolved.conf with DNS + domains
      copy:
        dest: /etc/systemd/resolved.conf
        content: |
          [Resolve]
          DNS=
          Domains=
          DNSSEC=no
        owner: root
        group: root
        mode: "0644"

# WARN: TODO: this is not working as expected
- name: Configure systemd network file for eth0
  become: true
  copy:
    dest: /etc/systemd/network/eth0.network
    owner: root
    group: root
    mode: "0644"
    content: |
      [Match]
      Name=eth0

      [Network]
      DHCP=ipv4
      DNS=8.8.8.8 8.8.4.4

      [DHCPv4]
      UseDNS=no

- name: Enable and start systemd-resolved
  become: true
  systemd:
    name: systemd-resolved
    enabled: true
    state: restarted
