- name: Create resolved.conf with DNS + domains
  become: true
  copy:
    dest: /etc/systemd/resolved.conf
    content: |
      [Resolve]
      DNS=
      Domains=
      DNSSEC=no
    owner: root
    group: root
    mode: "0644"

- name: Copy the DNS configuration script to the target host
  become: true
  ansible.builtin.copy:
    src: files/set_dns_eth0.sh
    dest: /usr/local/bin/set_dns_eth0.sh
    mode: "0755" # Makes the script executable

- name: Copy the systemd service unit file
  become: true
  ansible.builtin.copy:
    src: files/set-dns-eth0.service
    dest: /etc/systemd/system/set-dns-eth0.service

- name: Enable and start the custom DNS service
  become: true
  ansible.builtin.systemd_service:
    name: set-dns-eth0.service
    state: started # Start the service immediately
    enabled: true # Ensure it starts on boot
    daemon_reload: true # Reload daemon before starting, in case the copy task ran first

- name: Restart systemd-resolved
  become: true
  ansible.builtin.systemd_service:
    name: systemd-resolved
    state: restarted
