- name: drain kubernetes node
  become: true
  ansible.builtin.command: >
    kubectl drain
    --ignore-daemonsets
    --delete-emptydir-data
    --disable-eviction
    --force
    {{ k8s_node_name }}
  register: kubectl_drain_result
  environment:
    KUBECONFIG: "{{ kubeconfig | default('/etc/kubernetes/admin.conf') }}"
  changed_when: kubectl_drain_result.rc == 0
  failed_when: kubectl_drain_result.rc != 0

- name: drain kubernetes node [stdout]
  debug:
    msg: "{{ kubectl_drain_result.stdout | split('\n') }}"

- name: drain kubernetes node [stderr]
  debug:
    msg: "{{ kubectl_drain_result.stderr | split('\n') }}"
