apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
spec:
  project: default
  sources:
    - chart: ingress-nginx
      repoURL: https://kubernetes.github.io/ingress-nginx
      targetRevision: 4.10.0
      helm:
        releaseName: ingress-nginx
        valueFiles:
          - $values/100-argo-apps/200-ingress-nginx-values.yaml
    - repoURL: https://github.com/tuana9a/platform.git
      targetRevision: comeback-to-nfs-provisioner
      ref: values
  destination:
    server: "https://kubernetes.default.svc"
    namespace: ingress-nginx
  syncPolicy:
    automated:
      allowEmpty: false
      prune: false
      selfHeal: true
