[Unit]
Description=Node Exporter
After=network.target

[Service]
Type=simple
ExecStart=/opt/node_exporter-{{ node_exporter_version }}.linux-amd64/node_exporter

[Install]
WantedBy=multi-user.target