coder:
  # You can specify any environment variables you'd like to pass to Coder
  # here. Coder consumes environment variables listed in
  # `coder server --help`, and these environment variables are also passed
  # to the workspace provisioner (so you can consume them in your Terraform
  # templates for auth keys etc.).
  #
  # Please keep in mind that you should not set `CODER_HTTP_ADDRESS`,
  # `CODER_TLS_ENABLE`, `CODER_TLS_CERT_FILE` or `CODER_TLS_KEY_FILE` as
  # they are already set by the Helm chart and will cause conflicts.
  serviceAccount:
    extraRules:
      - apiGroups: ["apps"]
        resources: ["statefulsets"]
        verbs:
          - create
          - delete
          - deletecollection
          - get
          - list
          - patch
          - update
          - watch
  # WARN: those two envs are hard coded, can not move it to configmap need to specify it right here
  env:
    - name: CODER_ACCESS_URL
      value: "https://coder.tuana9a.com"
    - name: CODER_WILDCARD_ACCESS_URL
      value: "*.coder.tuana9a.com"
  envFrom:
    - secretRef:
        name: coder-env
  service:
    enable: true
    type: ClusterIP
  ingress:
    enable: true
    className: nginx
    host: coder.tuana9a.com
    wildcardHost: "*.coder.tuana9a.com"
    tls:
      enable: true
      secretName: coder-tuana9a-com-tls
      wildcardSecretName: wildcard-coder-tuana9a-com-tls
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-cloudflare-production"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      external-dns.alpha.kubernetes.io/hostname: "coder.tuana9a.com,*.coder.tuana9a.com"
      external-dns.alpha.kubernetes.io/target: "parkingx.tuana9a.com"
