loki:
  storage:
    bucketNames:
      chunks: ${s3_chunks_bucket_name}
  storage_config:
    # tsdb_shipper:
    #   active_index_directory: /loki/index
    #   cache_location: /loki/index_cache
    #   cache_ttl: 24h         # Can be increased for faster performance over longer query periods, uses more disk space
    aws:
      s3: s3://${s3_access_key}:${s3_secret_access_key_uri_encoded}@${s3_region}
      bucketnames: ${s3_bucket_names}
  commonConfig:
    replication_factor: 1 # required as SingleBinary, default is 3
  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  rulerConfig:
    storage:
      s3:
        bucketnames: ${s3_ruler_bucket_name}
  ingester:
    chunk_encoding: snappy
  tracing:
    enabled: true
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 4
  compactor:
    retention_enabled: true
    delete_request_store: filesystem
  limits_config:
    max_label_names_per_series: 20
    retention_period: 720h # 30 days

# Deployment mode
deploymentMode: SingleBinary
singleBinary:
  replicas: 1
  persistence:
    storageClass: proxmox-data-xfs
  size: 15Gi

# Disable minio for using aws S3
minio:
  enabled: false

# Cache config
resultsCache:
  allocatedMemory: 2000

chunksCache:
  allocatedMemory: 2000

# Zero out replica counts of other deployment modes
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
