#!/bin/bash

export VAULT_ADDR="https://vault.tuana9a.com"
export AWS_ACCESS_KEY_ID=$(vault kv get -field=aws_access_key_id kv/cloudflare/accounts/tuana9a/api-tokens/edit-r2)
export AWS_SECRET_ACCESS_KEY=$(vault kv get -field=aws_secret_access_key kv/cloudflare/accounts/tuana9a/api-tokens/edit-r2)
export S3_ENDPOINT_URL="https://$(vault kv get -field=cloudflare_account_id kv/cloudflare/accounts/tuana9a/api-tokens/edit-r2).r2.cloudflarestorage.com"
