[Unit]
Description=Nginx Exporter
After=network.target

[Service]
Type=simple
ExecStart=/opt/nginx-prometheus-exporter -nginx.scrape-uri={{ nginx_scrape_uri | default('http://localhost:8081/stub_status') }}

[Install]
WantedBy=multi-user.target