[Unit]
Description=Set DNS eth0
Wants=network-online.target
After=network-online.target systemd-resolved.service NetworkManager.service systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set_dns_eth0.sh

[Install]
WantedBy=multi-user.target