- name: Download CNI plugins archive
  become: true
  ansible.builtin.get_url:
    url: "https://github.com/containernetworking/plugins/releases/download/v1.5.1/cni-plugins-linux-amd64-v1.5.1.tgz"
    dest: "/opt/cni-plugins-linux-amd64-v1.5.1.tgz"
    mode: "0644"

- name: Create CNI bin directory
  become: true
  ansible.builtin.file:
    path: "/opt/cni/bin"
    state: directory
    mode: "0755"

- name: Extract CNI plugins
  become: true
  ansible.builtin.unarchive:
    src: "/opt/cni-plugins-linux-amd64-v1.5.1.tgz"
    dest: "/opt/cni/bin"
    remote_src: yes
    # Optimization: prevents re-extracting if a common CNI binary (like 'bridge') already exists
    creates: "/opt/cni/bin/bridge"
