- name: Execute kubectl label command
  become: true
  environment:
    KUBECONFIG: "{{ kubeconfig | default('/etc/kubernetes/admin.conf') }}"
  ansible.builtin.command:
    # TODO: maye we need to add '--overwrite'
    cmd: "kubectl label node {{ node_name }} {% for item in label_pairs %} {{ item }}{% endfor %}"
  register: kubectl_label_node_result
  changed_when: kubectl_label_node_result.rc != 0 or "labeled" in kubectl_label_node_result.stdout
  failed_when: kubectl_label_node_result.rc != 0

- name: kubectl label node [stdout]
  debug:
    msg: "{{ kubectl_label_node_result.stdout | split('\n') }}"

- name: kubectl label node [stderr]
  debug:
    msg: "{{ kubectl_label_node_result.stderr | split('\n') }}"
