# prerequisite: Setup container runtime https://kubernetes.io/docs/setup/production-environment/container-runtimes/
- name: load modules
  become: true
  shell: |
    set -ex

    cat <<EOF | tee /etc/modules-load.d/k8s.conf
    overlay
    br_netfilter
    EOF

    modprobe overlay
    modprobe br_netfilter
  register: kubesetup_load_modules_result

- name: load modules [stdout]
  debug:
    msg: "{{ kubesetup_load_modules_result.stdout | split('\n') }}"

- name: load modules [stderr]
  debug:
    msg: "{{ kubesetup_load_modules_result.stderr | split('\n') }}"

- name: enable sysctl
  become: true
  shell: |
    set -ex

    # Sysctl params required by kube, params persist across reboots
    cat <<EOF | tee /etc/sysctl.d/k8s.conf
    net.bridge.bridge-nf-call-iptables  = 1
    net.bridge.bridge-nf-call-ip6tables = 1
    net.ipv4.ip_forward                 = 1
    EOF

    # Apply sysctl params without reboot
    sysctl --system
  register: kubesetup_enable_sysctl_result

- name: enable sysctl [stdout]
  debug:
    msg: "{{ kubesetup_enable_sysctl_result.stdout | split('\n') }}"

- name: enable sysctl [stderr]
  debug:
    msg: "{{ kubesetup_enable_sysctl_result.stderr | split('\n') }}"

- name: install kubernetes
  become: true
  shell: |
    set -ex

    # k8s Prerequisites
    apt install -y gnupg2

    kubernetes_major_version="{{ kubernetes_major_version }}"
    kubernetes_minor_version="{{ kubernetes_minor_version }}"

    # Add the repository for k8s
    install -m 0755 -d /etc/apt/keyrings
    curl -fsSL https://pkgs.k8s.io/core:/stable:/v$kubernetes_major_version/deb/Release.key | gpg --yes --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
    echo "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v$kubernetes_major_version/deb/ /" | tee /etc/apt/sources.list.d/kubernetes.list

    # Install k8s dependencies
    apt-get update
    apt-mark unhold kubelet kubeadm kubectl
    apt install -y kubelet="$kubernetes_minor_version-*" kubeadm="$kubernetes_minor_version-*" kubectl="$kubernetes_minor_version-*"
    apt-mark hold kubelet kubeadm kubectl

    # Verify
    kubelet --version
  register: install_kubernetes_result

- name: install kubernetes [stdout]
  debug:
    msg: "{{ install_kubernetes_result.stdout | split('\n') }}"

- name: install kubernetes [stderr]
  debug:
    msg: "{{ install_kubernetes_result.stderr | split('\n') }}"

- name: setup kubelet systemd service
  become: true
  ansible.builtin.systemd_service:
    name: kubelet
    state: restarted
    enabled: true
    daemon_reload: true
