HOST_NAME: amon-dev
parted:
  dev_path: /dev/vdb
  mount_path: /data/
openvpn_client_items:
  - file: amon-dev/amon-dev-zephyrus.ovpn
    name: amon-dev-zephyrus
    state: stopped
    enabled: false
  - file: amon-dev/amon-orisis.ovpn
    name: amon-orisis
    state: stopped
    enabled: false
  - file: amon-dev/amon-dev-orisis.ovpn
    name: amon-dev-orisis
rsync_items:
  - src: amon-dev/mongodb/
    dest: /opt/mongodb/
compose_items:
  - dir: /opt/mongodb/
