name: "196-vault-config-k8s-cobi-tuana9a"

on:
  workflow_dispatch:
  push:
    paths:
      - "196-vault-config-k8s-cobi-tuana9a/**"
      - ".github/workflows/196-vault-config-k8s-cobi-tuana9a-terraform-plan-apply*"
    branches:
      - rock-n-roll

jobs:
  main:
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/terraform-plan-apply-notify.yml
    with:
      WORKING_DIR: ${{ github.workflow }}
      add-missing-files: true
    secrets:
      VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
