name: "300-prometheus-node-exporter-k8s-cobi"

on:
  workflow_dispatch:
  push:
    paths:
      - "300-prometheus-node-exporter-k8s-cobi/**"
      - ".github/workflows/300-prometheus-node-exporter-k8s-cobi-terraform-plan-apply*"
    branches:
      - rock-n-roll

jobs:
  main:
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/TerraformPlanApplyNotify.yml
    with:
      runs-on: self-hosted-0
      WORKING_DIR: ${{ github.workflow }}
    secrets:
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
