name: "503-coder-setup"

on:
  workflow_dispatch:
  push:
    paths:
      - "503-coder-setup/**"
      - ".github/workflows/503-coder-setup-terraform-plan-apply*"
    branches:
      - rock-n-roll

jobs:
  main:
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/tfaa.yml
    with:
      runs-on: self-hosted-0
      WORKING_DIR: ${{ github.workflow }}
      add-missing-files: true
    secrets:
      VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
