name: "806-monitor-do"

on:
  workflow_dispatch:
  push:
    paths:
      - "806-monitor-do/**"
      - ".github/workflows/806-monitor-do-terraform-plan-apply*"
    branches:
      - rock-n-roll

jobs:
  main:
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/TerraformPlanApplyNotify.yml
    with:
      WORKING_DIR: ${{ github.workflow }}
      add-missing-files: true
    secrets:
      VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
